@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    padding: 0rem;
    margin: 0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 6rem;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Figtree', Arial, sans-serif;
    font-weight: 400; /* Default weight */
    -webkit-font-smoothing: antialiased; /* Improve font rendering on Safari */
    -moz-osx-font-smoothing: grayscale; /* Improve font rendering on macOS */
    font-display: swap; /* Ensure fonts swap properly */
}

/* High-Resolution Devices */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        font-weight: 500; /* Increase font weight slightly for high-resolution devices */
    }
}

/* Responsive font size for smaller screens */
@media screen and (max-width: 650px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    #hero {
      margin-top: 50px;
    }
}

/* iPhone Specific Styles */

/* iPhone 12 and Above */
@media only screen and (min-device-width: 390px) and (max-device-width: 428px) and (orientation: portrait) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* Landscape Mode */
@media only screen and (min-device-width: 390px) and (max-device-width: 428px) and (orientation: landscape) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* iPhone X, XS, XR */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) and (orientation: portrait) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* Landscape Mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) and (orientation: landscape) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* iPhone 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* Landscape Mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    body {
        font-family: 'Figtree', Arial, sans-serif;
        font-weight: 400;
    }
}

/* Safari-Specific Fix for Font Rendering */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    body {
      font-family: 'Figtree', Arial, sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
    }
  }
}
