@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
    padding: 0rem;
    margin: 0rem;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 6rem;
}

p {
  
    color: white;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Figtree', Arial, sans-serif;
    font-weight: 400; /* Default weight */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        font-weight: 500; /* Increase font weight slightly for high-resolution devices */
    }
}

  
@media screen and (max-width: 650px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    #hero {
      margin-top: 50px;
    }}